.product-card {
    overflow-y: hidden;
    margin-bottom: 30px;
}

.filter-btn {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin: 20px 0; 
  }
  
  .btn {
    background-color: #E6E6E6;
    color: black; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .btn:hover {
    background-color: #18314F; 
    color: white;
  }
  
  .show-more {
    display: flex;
    justify-content: center;  
    margin-top: 20px;  
    margin-bottom: 30px;
  }
  
  .show-more .btn {
    padding: 10px 20px;  
    font-size: 20px;
    width: 250px;
  }
  