.product-card {
  overflow-y: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.filter-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.filter-select,
.clear-filters {
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.filter-select {
  width: 200px;
}

.clear-filters {
  color: white;
  background-color: #E6E6E6;
  border: none;
  cursor: pointer;
}

.clear-filters:hover {
  background-color: #18314F;
}

.btn {
  background-color: #18314F;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #18314F;
  color: white;
}

.show-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.show-more .btn {
  padding: 10px 20px;
  font-size: 20px;
  width: 250px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.product-detail-modal {
  background-color: #fff;
  display: flex;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  gap: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(229, 51, 51);
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, transform 0.1s;
}

.close-button:hover {
  background-color: rgb(200, 41, 41);
  transform: scale(1.1);
}

.close-button:active {
  transform: scale(0.95);
}

.detail-image {
  flex: 1;
  max-width: 40%;
  border-radius: 8px;
  object-fit: cover;
}

.product-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-category {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.product-category span.emoji {
  margin-right: 10px;
  font-size: 2rem;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.product-description {
  font-size: 1rem;
  color: #555;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.quantity-button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  cursor: pointer;
}

.buy-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #18314F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #E6E6E6;
  color: #18314F;
}

.quantity-display {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  min-width: 30px;
  text-align: center;
}
