.animal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;           
  padding: 0 20px;        
  box-sizing: border-box;  
}

.buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px; 
}

.btn-animal {
  background-color: #3ca381;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  border: 3px solid transparent;
}

.btn-animal:hover {
  background-color: #ffff;
  color: #3ca381;
  border-color: #3ca381;
}

.animal-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  width: 90%;     
  justify-items: center;   
  margin-bottom: 20px;
  margin-top: 20px;
}

.animal-card {
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;         
  width: 100%;           
  max-width: 350px;       
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.animal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;   
}

.animal-name {
  font-size: 20px;     
  font-weight: bold;
  margin-top: 15px;
}

.animal-size,
.animal-age {
  font-size: 16px;       
  color: #555;
}

.select-pet {
  background-color: #18314F;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s; 
  border: 3px solid transparent;
}

.select-pet:hover {
  background-color: #ffff; 
  color: #18314F;
  border-color: #18314F;
}

/*DETALLE DEL ANIMAL*/ 
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 14px; 
  margin: 0;
  padding: 0;
}

.pet-detail {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1rem; 
  position: relative;
  flex-wrap: wrap; 
}

.pet-detail-container {
  max-width: 80%; 
  margin-top: 2rem;
  height: auto;
  background: linear-gradient(to right, #8BBEB2, #E6F9AF);
  border: #3ca381 2px solid;
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; 
}

.pet-detail-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 8px; 
  overflow: hidden;
}

.pet-detail-card h3 {
  font-size: 0.9rem;
}

.pet-detail-card p {
  font-size: 1rem; 
}

.pet-detail-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.pet-detail-info {
  padding: 1rem; 
  flex-grow: 1;
  color: #338b6e;
}

.pet-detail-name {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  color: #338b6e;
}

.pet-detail-age-size {
  display: flex;
  align-items: center;
  gap: 1rem; 
  color: #338b6e;
}

.pet-detail-age,
.pet-detail-size {
  margin: 0;
  font-size: 0.9rem; 
}

.pet-detail-personality {
  display: block;
  margin: 1rem 0;
}

.pet-detail-personality h3 {
  margin-top: 0.5rem;
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem; 
}

.pet-detail-personality p {
  margin: 0;
  font-size: 0.9rem; 
}

.pet-detail-temperament {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pet-detail-temperament li {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  min-width: 80px; 
}

.temperament-1 {
  background-color: #A5C4D4;
}

.temperament-2 {
  background-color: #EE9B00;
}

.temperament-3 {
  background-color: #A1C349;
}

.back-button {
  position: absolute;  
  top: 3.5rem; 
  left: 2.5rem; 
  width: 8vw;
  height: 8vw;
  max-width: 45px;
  max-height: 45px;
  font-size: 1.5rem;
  background-color: #3CA380;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  z-index: 10;
  color: white;
}


.pet-detail-footer {
  text-align: center;
  margin-top: 2rem;
}

.separator {
  border: none;
  border-top: 2px solid #3CA380;
  margin: 1rem 0;
  width: 100%;
}

.pet-detail-footer-text {
  font-size: 1.2rem; 
  margin-bottom: 1rem;
  color: #338b6e;
}

.adopt-button {
  width: 100%; 
  max-width: 300px; 
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #3CA380;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adopt-button:hover {
  background-color: #2c715a;
}

.pet-foot {
  color: #338b6e;
  margin-bottom: 1rem;
}

.category-banner-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
}

.category-banner {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 80%;
  height: auto;
}
