* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
  width: 1800px;
  height: 610px;
  border-radius: 10px;
  border: solid #3ca380 2px;
  margin-top: -200px;
}

.texts-div {
  margin-left: 80px;
}

h1 {
  margin-top: 20px;
  font-weight: bolder;
  color: white;
  font-size: 65px;
  width: 500px;
}

.paragraph {
  color: white;
  font-weight: normal;
  font-size: 20px;
  width: 590px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bold-text {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.dog-img {
  display: flexbox;
  position: absolute;
  z-index: 2;
  width: 906px;
  height: 770px;
  right: 320px;
  top: 133px;
}

.crown-img {
  display: flexbox;
  position: absolute;
  max-width: 200px;
  top: 70px;
  left: 1200px;
}

.stars-img {
  display: flexbox;
  position: absolute;
  max-width: 170px;
  top: 200px;
  left: 600px;
}

.cards-111 {
  position: relative;
  z-index: 1;
  top: -195px;
}