* {
  font-family: "Poppins", sans-serif;
}

section {
  background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 7.5vh 6.5vw;
}

.container-1 {
  display: flex;
  width: 87vw;
  height: 70vh;
  padding: 4.5vh 5vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 8vw;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #3CA380;
  background: linear-gradient(0deg, rgba(60, 163, 128, 0.10) 0%, rgba(60, 163, 128, 0.10) 100%), linear-gradient(104deg, #8BBEB2 -4.32%, #E6F9AF 101.97%);
  box-shadow: 4px 5px 10px 2px rgba(60, 163, 128, 0.30);
  backdrop-filter: blur(10px);
}

.texts-div {
  width: 36vw;
}

.CTA {
  font-weight: bold;
  font-size: 72px;
  color: white;
}

.paragraph {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

.bold-text {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.dog-img {
  display: flexbox;
  position: absolute;
  z-index: 2;
  height: 76vh;
  right: 3vw;
  top: 27vh;
}

.crown-img {
  display: flexbox;
  position: absolute;
  max-width: 14vw;
  top: 14vh;
  left: 59vw;
}

.stars-img {
  display: flexbox;
  position: absolute;
  max-width: 170px;
  top: 33vh;
  left: 36vw;
}

.cards-111 {
  position: relative;
  z-index: 1;
  top: -8vh;
}

.section-2 {
  margin-top: -35vh;
  margin-left: -15vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}

.about-pawtner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.cat-big {
  height: 152vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -200px;
  margin-top: -200px;
}

.title-2 {
  font-size: 56px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.info-text1 {
  font-size: 15px;
  max-width: 800px;
}

.img-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87vw;
  margin: auto;
  margin-top: -57vh;
}

.mission-img {
  width: 100%;
  max-width: 1800px;
  height: auto;
}

.section-3 {
  background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
  width: 100vw;
  height: 65vh;
  padding: 0 6.5vw;
  margin-top: 10vh;
}

.title-4 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  width: 420px;
  padding-top: 6.5vh;
}

.animal-cards {
  width: 106%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -3vw;
}

.animal-img {
  width: 35vw;
  height: auto;
  margin: 0 -2vw;
}

.star2-img {
  display: flexbox;
  position: absolute;
  width: 8vw;
  left: 25vw;
  margin-top: 2vh;
}

.adopt-img {
  width: 100vw;
}

.section-4 {
  margin-top: -45vh;
  padding: 0 6.5vw;
}

.report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.r-texts {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.title-6 {
  font-size: 70px;
}

.r-text {
  font-size: 15px;
  width: 40vw;
}

.cat-yell {
  width: 105vw;
  height: auto;
  margin-left: -35vw;
}

.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40vh;
  padding: 0 6.5vw;
}

.frame-info {
  width: 100%;
  max-width: 1800px;
  height: auto;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
  padding: 0 6.5vw;
}

.caring {
  width: 100%;
}

.footer-img {
  width: 100%;
  max-width: 1800px;
  height: auto;
}

@media (max-width: 429px) {

  .crown-img,
  .stars-img,
  .dog-img,
  .cat-yell,
  .cat-big {
    display: none;
  }

  section {
    height: 85vh;
  }

  .CTA,
  .title-2,
  .title-4,
  .title-6 {
    font-size: 32px;
  }

  .text-line p {
    display: none;
  }

  .texts-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .cards-line {
    flex-direction: column;
  }

  .cards-111 {
    position: relative;
    z-index: 1;
    top: 8vh;
  }

  .card,
  .r-text {
    width: 100%;
  }

  .section-2 {
    flex-direction: column-reverse;
  }

  .cat-yell {
    position: absolute;
  }

  .section-2 {
    margin-top: 5vh;
    margin-left: -0;
  }

  .text-content {
    margin-left: 0;
    margin-top: 0;
  }

  .img-big {
    width: 100vw;
    margin-top: 0;
  }

  .section-3 {
    margin-top: 0;
    height: 50vh;
  }

  .animal-img {
    width: 80vw;
  }

  .animal-cards {
    overflow-x: scroll;
    margin: 0;
  }

  .section-4 {
    margin-top: 0;
    padding: 6.5vw;
  }

  .frame-container,
  .f-c {
    margin-top: 0;
    width: 100vw;
  }
}