header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 2rem;
}

.logo-header-landing {
  width: 3vw;
  height: auto;
}

.menu {
  display: none;
  cursor: pointer;
}

.text-line {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.text-line p {
  font-weight: normal;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.btn-line {
  display: flex;
  gap: 2vw;
}

.log-btn {
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  font-weight: normal;
  border-radius: 0.3rem;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

.sign-btn {
  background-color: #3ca380;
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  font-weight: normal;
  border-radius: 0.3rem;
  border: 1px solid white;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border: 1px solid #3CA380;
  color: white;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.log-btn:hover,
.sign-btn:hover {
  background-color: #B1D9AC;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.1rem);
}

.log-btn:disabled,
.sign-btnled {
  background-color: #d3d3d3;
  color: #a1a1a1;
  cursor: not-allowed;
}