* {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-caring-section {
    padding: 2rem;
    background-color: #f8f8f8;
    display: flex;
    margin-top: 0;
}

.feature-caring-container {
    background: linear-gradient(104deg, #8BBEB2, #E6F9AF);
    border-radius: 0.3rem;
    width: 95%;
    height: fit-content;
    padding: 2rem;
    margin: 3rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-caring-description {
    width: 50%;
}

.feature-caring-heading {
    color: white;
    font-size: 2.5rem;
}

.feature-caring-text {
    color: white;
    font-weight: 300;
    margin-top: 3rem;
}

.Caring-Dog-img {
    width: 30%;
    height: auto;
}