.disease-card {
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.9rem;
  margin-bottom: 0.9rem;
  font-family: "Lexend Deca", sans-serif;
}

.disease-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: "Lexend Deca", sans-serif;
  color: black;
}

.divisor {
  margin: 0.6rem 0;
  border: none;
  border-bottom: 0.12rem solid #ccc
}

.pet-info {
  color: black;
  font-weight: 600;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.priority {
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3rem;
  font-size: 0.5rem;
  margin-left: 10px;
}

.priority.low {
  background-color: #A1C349;
  color: #6B900A;
}

.priority.medium {
  background-color: #FFAF03;
  color: #D28A02;
}

.priority.high {
  background-color: #E21E27;
  color: #9A0209;
}

.priority.emergency {
  background-color: #800E13;
  color: #360002;
}

.symptoms-list {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.description-section-card {
  margin-bottom: 0.625rem;
  font-weight: light;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
}

.details-button {
  background-color: #3CA380;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem;
  margin: 0.625rem;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
}

.delete-button {
  background-color: #E21E27;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}