.report-system-wrapper {
    padding: 20px;
    background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
    border-radius: 15px;
    margin: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #3c6e47; /* Dark green text */
  }
  
  .report-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .form-container {
     flex: 1;
    background: linear-gradient(to bottom right, #8bbeb2, #e6f9af);
    padding: 20px;
    border-radius: 10px #0000001a; 
  }


  .report-form .form-input, .report-form .form-textarea, .report-form .form-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #d4e7d5;
    border-radius: 5px;
  }
  
  .report-form .form-button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .report-form .form-button:hover {
    background-color: #45a049;
  }
  
  .map-wrapper {
    flex: 2;
    background-color: #f3f9f4; /* Match form container */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .map-wrapper > * {
    width: 100%;
    height: 100%;
  }