* {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adopt-section {
    padding: 2rem;
    padding-bottom: 0;
    background: linear-gradient(104deg, #8BBEB2, #18314F);
    display: flex;
    margin-top: 0;
}

.adopt-container {
    width: 95%;
    height: fit-content;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.adopt-description {
    width: 40%;
    margin-left: 2.5rem;
}

.adopt-heading {
    color: white;
    font-size: 2.5rem;
}

.adopt-text {
    color: white;
    font-weight: 300;
    margin-top: 2rem;
}

.Adopt-Puppy-img {
    width: 30%;
    height: auto;
}

@media (max-width: 430px) {
    .adopt-section {
        background: white; 
        flex-direction: column; 
        padding: 1rem; 
    }

    .adopt-container {
        width: 100%; 
        margin-left: 0; 
        flex-direction: column; 
        align-items: center;
        width: 80%;
        margin-left: 30px;
    }

    .adopt-description {
        width: 100%;
        color: black;
        margin-left: 0; 
        text-align: center; 
    }

    .adopt-heading {
        font-size: 2rem; 
        text-align: left;
        color: black;
    }

    .adopt-text {
        font-size: 1rem; 
        margin-top: 1.5rem; 
        color: black;
        text-align: left;
    }

    .Adopt-Puppy-img {
        display: none; 
    }
}