* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature-buy-section {
  background-color: #f8f8f8;
  display: flex;
  margin-top: 0;
  overflow: visible;
}

.feature-buy-container {
  position: relative;
  background: linear-gradient(104deg, #8bbeb2, #18314f);
  border: 1px solid #0d0630;
  border-radius: 0.3rem;
  width: 95%;
  height: fit-content;
  padding: 5rem;
  padding-left: 0;
  margin: 5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background-size: cover;
}

.feature-buy-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("src/assets/images/granulado-texure.png");
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
  z-index: 1;
  border-radius: 0.3rem;
}

.feature-buy-description {
  width: 40%;
  margin-right: 40%;
}

.feature-buy-heading {
  color: #0d0630;
  font-size: 2.5rem;
}

.feature-buy-text {
  color: #0d0630;
  font-weight: 300;
  margin-top: 2rem;
}

.Buy-Cat-img {
  position: absolute;
  right: 0%;
  top: 30%;
  transform: translateY(-50%);
  width: 40%;
  height: auto;
  z-index: 2;
}

.Buy-Cat-img:hover {
  filter: drop-shadow(0 0 20px rgba(24, 49, 79, 0.5))
    drop-shadow(0 0 40px rgba(60, 163, 128, 0.8));
}

@media (max-width: 430px) {
  .feature-buy-container {
    width: 100%;
    margin: 0;
    padding: 2rem;
    border: none;
    border-radius: 0;
    background-size: auto;
  }

  .feature-buy-container::before {
    display: none;
  }

  .feature-buy-description {
    color: #c7fac0;
    width: 100%;
    margin-right: 0;
  }

  .feature-buy-text {
    color: #c7fac0;

  }
  .feature-buy-heading {
    font-size: 2rem;
    color: #c7fac0;
  }

  .Buy-Cat-img {
    display: none;
  }
}
