input {
    background-color: none;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: "Lexend Deca", sans-serif;
    width: 80%;
    border: none;
    font-size: 1rem;
    color: #a7a39e;
}
  
.Submit-btn {
    background-color: #3CA380;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.7rem;
    margin: 0.6rem;
    cursor: pointer;
    width: 150px;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
}

.comment-input {
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    font-size: 1rem;
}

.comments-list {
    font-family: "Lexend Deca", sans-serif;
}

.comments-list .comments-title {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    color: #85827e;
    text-align: left;
}

.comment-username{
    color: #3CA380;
    font-weight: bold;
}

.comment {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
    color: #85827e;
}

.Delete-btn {
    background-color: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}