header {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 6vw;
  height: auto;
}

.menu {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.text-line {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.text-line p {
  font-weight: normal;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.btn-line {
  display: flex;
  gap: 2vw;
}

.log-btn,
.sign-btn {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-weight: normal;
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.sign-btn {
  background-color: #3ca380;
  border: none;
}

.log-btn:hover,
.sign-btn:hover {
  background-color: white;
  color: #3ca380;
}