header {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 20px; 
  position: relative;
}

.logo-img {
  width: 75px;
  height: 72px;
}

.menu {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.text-line {
  display: flex;
  gap: 50px;
}

.text-line p {
  font-weight: normal;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.btn-line {
  display: flex;
  gap: 20px;
}

.log-btn,
.sign-btn {
  width: 120px;
  height: 60px;
  font-size: 22px;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.sign-btn {
  background-color: #3ca380;
  border: none;
}

.log-btn:hover,
.sign-btn:hover {
  background-color: white;
  color: #3ca380;
}