.services-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(104deg, #3d79be81, #3ca381b4);
  box-shadow: 0px 4px 10px 2px rgba(8, 59, 130, 0.20);
  backdrop-filter: blur(25px);
  border-radius: 0.3rem;
  overflow: hidden;
  width: 20%;
  margin: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  will-change: transform, box-shadow;
  perspective: 1000px;
  padding: 1rem; 
}

.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px 4px rgba(8, 59, 130, 0.2);
  filter: drop-shadow(0 0 10px rgba(60, 163, 128, 0.7)) drop-shadow(0 0 15px rgba(24, 49, 79, 0.3));
}

.services-card-image {
  width: 40%; 
  max-height: 150px; 
  object-fit: contain; 
  margin: 1rem 0;
}

.services-card-content {
  padding: 1rem;
}

.services-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0D0630;
}

.services-card-description {
  font-size: 0.9rem; 
  color: #0D0630;
  margin-top: 0.5rem;
}

@media (max-width: 430px) {
  .services-card {
    width: 80%; 
    margin: 1rem auto; 
  }

  .services-card-image {
    width: 40%; 
  }

  .services-card-title {
    font-size: 1.5rem; 
  }

  .services-card-description {
    font-size: 1rem;
  }
}
