body {
    font-family: "Lexend Deca", sans-serif;
  }
  
  .lexend-deca-bold {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
  }
  
  .lexend-deca-regular {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }