.disease-forum {
    padding: 20px;
    background: linear-gradient(to right, #8BBEB2, #E6F9AF);
  }
  
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
  }
  
.skin-and-coat-problems .disease-title {
    background-color: #A1C349;
    color: white;
  }
  
  .digestive-issues .disease-title {
    background-color: #EE9B00;
    color: white;
  }
  
  .allergies .disease-title {
    background-color: #A5C4D4;
    color: white;
  }
  
  .mobility-issues .disease-title {
    background-color: #800E13;
    color: white;
  }
  
  .infections .disease-title {
    background-color: #156064;
    color: white;
  }

  .respiratory-issues .disease-title {
    background-color: #404E7C;
    color: white;
  }
  
  .behavioral-changes .disease-title {
    background-color: #3CA380;
    color: white;
  }
  
  .general-wellness .disease-title {
    background-color: #281F51;
    color: white;
  }

  .disease-title {
    font-size: small;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .disease-column {
    background-color: #ffffff88;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .disease-column h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    color: #00796b;
  }
  
  .post-image {
    margin: 10px 0;
  }
  
  .post-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .addPostButton {
    position: fixed;
    bottom: 20px;      
    right: 20px;    
    width: 60px; 
    height: 60px; 
    background-color: #3CA380;
    color: white;          
    font-size: 36px;       
    border-radius: 5px;    
    border: none;          
    cursor: pointer;       
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .addPostButton:hover {
    background-color: #248463;
  }